.btn {
  border-radius: 20px;
  padding: 12px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 16px;
}

.primary {
  composes: btn;
  background: linear-gradient(
    to bottom right,
    var(--accent-blue-light),
    var(--accent-purple-dark)
  );
  border: none;
  color: var(--text-white);
}

.secondary {
  composes: btn;
  background: transparent;
  color: var(--text-white);
  border: 2px solid var(--accent-blue-light);
}

.primary:hover {
  opacity: 0.9;
}

.secondary:hover {
  background-color: rgba(67, 97, 238, 0.1);
}
